@model IEnumerable<LAB0DS.Models.ClientesModel>

@{
    ViewData["Title"] = "OrdenApellido";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">|  Nuevo Cliente  |</a>
    <a asp-action="OrdenNombre"> Ordenar por Nombre  |</a>
    <a asp-action="OrdenApellido"> Ordenar por Apellido  |</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Telefono }) |
                @Html.ActionLink("Details", "Details", new { id = item.Telefono }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Telefono })
            </td>
        </tr>
}
    </tbody>
</table>
